.App {
  display: grid;
  /* grid-template-rows: minmax(50px min-content)  1fr; */
}
.main {
  display: grid;
  grid-template-columns: minmax(0px,1fr) 5fr;
  margin-top: 64px ;
  position: relative;
  /* transition: ease-in; */
}
.full{
  grid-template-columns: 1fr;
  margin-top: 0px ;
}


